name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      
    - uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        
    - name: Build
      run: |
        cd backend/app
        mvn clean package -DskipTests
        
    - name: Deploy
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.AWS_HOST }}
        username: ${{ secrets.AWS_USERNAME }}
        key: ${{ secrets.AWS_PRIVATE_KEY }}
        source: "backend/app/target/api-server-1.0.jar"
        target: "backend/app/target/"
        strip_components: 3
        
    - name: Restart Application
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.AWS_HOST }}
        username: ${{ secrets.AWS_USERNAME }}
        key: ${{ secrets.AWS_PRIVATE_KEY }}
        script: |
          cd backend/app/target
          killall java || true
          sleep 5
          nohup env \
          GOOGLE_API_KEY="${{ secrets.GOOGLE_API_KEY }}" \
          WTO_API_KEY="${{ secrets.WTO_API_KEY }}" \
          AUTH_DB_URL="${{ secrets.AUTH_DB_URL }}" \
          AUTH_DB_USERNAME="${{ secrets.AUTH_DB_USERNAME }}" \
          AUTH_DB_PASSWORD="${{ secrets.AUTH_DB_PASSWORD }}" \
          SPRING_DB_URL="${{ secrets.SPRING_DB_URL }}" \
          SPRING_DB_USERNAME="${{ secrets.SPRING_DB_USERNAME }}" \
          SPRING_DB_PASSWORD="${{ secrets.SPRING_DB_PASSWORD }}" \
          java -jar api-server-1.0.jar > app.log 2>&1 &